@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost';
}

body {
    background-color: #391C01;
    display: flex;
    justify-content: center;
}

.container {
    margin: 3%;
    width: 90%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 6%;
    align-self: flex-start;
    margin-left: 3.5%;
}

.logo h1 {
    color: #E1D6BB;
    font-weight: 330;
    font-size: 32px;
}

.logo h1 img {
    filter: brightness(90);
    width: 27px;
    height: 27px;
    margin-bottom: 2.5px;
}

.titulo {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo h2 {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 500;
    color: white;
}

.containerPerguntas {
    width: 89%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #E1D6BB;
    margin-top: 1%;
}

.pergunta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoPergunta {
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.textoPergunta h2 {
    text-transform: uppercase;
    color: #644222;
    font-size: 35px;
    font-weight: 500;
}

.fotosCafe {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 5%;
    padding: 4%;
}

.cardCafe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #663C1C;
    width: 33.2vh;
    height: 30vh;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
} 

.cardCafe:hover {
    transform: scale(1.02);
}

.cardCafe input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

.cardCafe img {
    object-fit: cover;
    width: 85%;
    height: 80%;
    border-radius: 5px;
}

.btnProxima {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnProxima button {
    width: 20%;
    height: 50%;
    border: none;
    border-radius: 9px;
    background-color: #6B4020;
    transition: 0.2s ease;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 530;
    margin-bottom: 1.5%;
}

.btnProxima button:hover {
    box-shadow: 0 2px 20px #9e522f65;
    transform: scale(1.04);
}

#btnVerResultado {
    display: none;
    background-color: rgb(148, 0, 0);
    align-items: center;
    justify-content: center;
}

#btnVerResultado:hover {
    box-shadow: 0 2px 20px #a01818a0;
}

.cardCafe:has(input:checked) {
    background-color: #2f1400;
}