@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost';
}

body {
    width: 100%;
    height: 90vh;
    background-color: #391C01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    height: 15%;
}

.logo a {
    margin-top: 0.5%;
    margin-left: 8.2%;
}

.logo h1 {
    width: 100%;
    color: #E1D6BB;
    font-weight: 330;
    font-size: 32px;
}

.logo h1 img {
    filter: brightness(90);
    width: 27px;
    height: 27px;
    margin-bottom: 2.5px;
}


#btnIniciarQuiz {
    border: none;
    background-color: #e1d4bb;
    border-radius: 15px;
    width: 20%;
    height: 10%;
    color: #432400;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 5%;
    margin-right: 5%;
}

#btnIniciarQuiz:hover {
    transform: scale(1.04);
}

#btnIniciarQuest {
    border: none;
    background-color: #e1d4bb;
    border-radius: 15px;
    width: 13%;
    height: 15%;
    color: #432400;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 5%;
    margin-right: 5%;
}

#btnIniciarQuest:hover {
    transform: scale(1.04);

}

.container {
    width: 90%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo h2 {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 500;
    color: white;
}

#btnIniciarQuiz {
    top: 45%;
    border: none;
    background-color: #e1d4bb;
    border-radius: 15px;
    width: 12%;
    height: 75%;
    color: #432400;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

#btnIniciarQuiz:hover {
    transform: scale(1.04);
}

.btns {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 2%;
}

.btns button {
    width: 10%;
    height: 50%;
    border-radius: 10px;
    border: none;
    background-color: #432400;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btns button:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 20px #713e17c4;
}

#btnIniciarQuest {
    width: 18%;
    height: 75%;
}

#btnTentarNovamente {
    width: 13%;
}

button:disabled {
    background-color: #43240094;
}

.botoes {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.painelJogo {
    border-radius: 15px;
    background-color: #E1D6BB;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

.questoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.tituloJogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 26%;
}


#perguntaDaQuestaoAtual {
    text-transform: uppercase;
    color: #644222;
    font-size: 35px;
    font-weight: 500;
}

.opcoesDiv {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.opcoesDiv span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #663C1C;
    width: 33.2vh;
    height: 30vh;
}

.cardCafe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.cardCafe:hover {
    transform: scale(1.02);
}

.cardCafe label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cardCafe img {
    object-fit: cover;
    width: 83%;
    height: 80%;
    border-radius: 5px;
}

.cardCafe input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

.btns {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 2%;
}

.btns button {
    width: 10%;
    height: 50%;
    border-radius: 10px;
    border: none;
    background-color: #432400;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btns button:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 20px #713e17c4;
}

#btnIniciarQuest {
    width: 18%;
    height: 75%;
}

#btnTentarNovamente {
    width: 13%;
}

button:disabled {
    background-color: #43240094;
}

.cardCafe:has(input:checked) {
    background-color: #2f1400;
}

.text-success-with-bg {
    background-color: rgb(6, 196, 6);
    border-radius: 10px;
}

.text-warning-with-bg {
    background-color: #ffc107;
}

.text-danger-with-bg {
    background-color: rgb(230, 5, 5);
}

.text-new-gray {
    color: black;
}

#pontuacao {
    position: absolute;
    width: 30%;
    height: 40%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #7e4c00;
    color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 54px 0px rgba(148, 89, 0, 0.411);
    z-index: 998;
    top: 10%;
}

.botoes {
    text-align: center;
    width: 100%;
    display: flex;
}

.emCima {
    width: 100%;
    height: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botaoFechar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    align-items: center;
}

.emCima h2 {
    font-size: 30px;
    margin-right: 35%;
}

.botaoFechar button {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 17px;
    border-radius: 9px;
    text-align: center;
    border: none;
    transition: 0.2s ease;
}

.botaoFechar button:hover {
    transform: scale(1.02);
}


#pontuacaoDuranteJogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    text-align: justify;
}

.textos {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    line-height: 5vh;
    font-size: 18px;
}

.textos p {
    font-size: 10px;
}

#pontuacaoFinalJogo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32%;
    align-items: center;
    justify-content: center;
}

.mensagemFinal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(1.7px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 998;
    display: none;
}